<footer class="footer-style">
    <div class="container">
        <div class="row justify-content-center footer-text" style="padding-top: 30px">
            Aequo Ltd
        </div>
        <div class="row justify-content-center footer-text"style="padding-top: 10px">
            "Reach New Heights"
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="row justify-content-center footer-text" style="padding-top: 10px">
                    Follow us on :
                </div>
                <div class="row justify-content-center" style="padding-top: 10px">
                    <span style="color: white">
                        <span><a href=""><i class="icon-facebook custom-icon"></i></a></span>
                        <span><a href=""><i class="icon-linkedin2 custom-icon"></i></a></span>
                        <span><a href=""><i class="icon-twitter custom-icon"></i></a></span>
                    </span>
                </div>
            </div>
            <div class="col-sm-8 col-lg-6">
                <div class="row justify-content-center footer-text" style="padding-top: 10px">
                    Contact :
                </div>
                <div class="row justify-content-center">
                    <span class="custom-icons">
                        <span><i class="icon-phone custom-icon"></i>+216 54600646</span>
                    </span>
                </div>
                <div class="row justify-content-center">
                    <span class="custom-icons"  style="padding-top: 5px">
                        <span><i class="icon-envelop custom-icon"></i>contact@aequoltd.com</span>
                    </span>
                </div>
            </div>
        </div>
        <hr style="background-color: whitesmoke; width: 33%">
        <div class="row justify-content-center copyright-style">
            <p>Copyright &copy; Aequo Ltd – ALL RIGHTS RESERVED</p>
        </div>
    </div>
</footer>
