{% extends 'base.html.twig' %}

{% block body %}
    {% include 'default/navbar.html.twig' %}

    <div class="index-image">
        <div class="container">
            <div class="row justify-content-left align-items-end custom-back-row">
                <div class="index-text1">
                    Aequo Ltd
                </div>
            </div>
            <div class="row justify-content-left align-items-start">
                <div class="index-text">
                    Reach new heights
                </div>
            </div>
        </div>
    </div>

{% endblock %}
