<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Discover<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Expertise</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Our Methodology</a>
            </li>
            <li class="nav-item active">
                <a id="nav-contact" class="nav-item-button nav-link  "  href="#">CONTACT</a>
            </li>
        </ul>

        <div class="text-right">
            <span class="custom-icons">
                <span><i class="icon-facebook custom-icon"></i></span>
                <span><i class="icon-linkedin2 custom-icon"></i></span>
                <span><i class="icon-twitter custom-icon"></i></span>
            </span>
            <span>
                <span><a href="/"><img src="{{ asset('admin_assets/images/flags/us.png') }}" alt=""></a></span>
                <span><a href="/?_locale=ar"><img src="{{ asset('admin_assets/images/flags/fr.png') }}" alt=""></a></span>
            </span>
        </div>
    </div>
</nav>