body {
    padding-top: 70px !important;
}

body, html{
    width: 100%;
    height: 100%;
    margin:0px;
    padding:0px;
    overflow-x:hidden;
}

.nav-item-button {
    border: 2px solid white;
    border-radius: 20px;
    background-color: white;
    width: 6em;
    color:  #20204D !important;
    height: 40px;
    text-align: center;
}

#nav-contact:hover{
    border: 2px solid #DF6036;
    background-color: #DF6036 !important;
    color: #FFFFFF !important;
}

.navbar {
    background-color: #20204D;
    padding: 15px !important;
}

.nav-link {
    font-weight: 700;
    margin-left: 10px;
}

.nav-link:hover {
    color: #DF6036 !important;
}

.custom-icons {
    color: white;
    margin-right: 30px;

}

.custom-icon {
    border: 2px solid white;
    border-radius: 30px;
    font-size: 1.1em !important;
    padding: 6px;
    margin-right: 8px;
    color: white ;
    text-decoration: none;
}

.link-style{
    text-decoration: none;
}

.link-style:hover{
    text-decoration: none;
}

.text-card-style{
    text-decoration: none;
    color: black;
}

.text-card-style:hover{
    text-decoration: none;
    color: #494b41;
}

.custom-icon:hover{
    border: 2px solid #DF6036;
    background-color: #DF6036 !important;
    color: #FFFFFF !important;
}

/* index */
.index-image {
    background-image: url("./images/bc2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 92%, 50% 100%, 0 92%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 92%, 50% 100%, 0 92%, 0 0);
}

@media only screen and (max-width: 1024px) {
    .index-image {
        height: 70vh !important;
    }
}

.index-text {
    font-size: 3em;
    color: white   ;
    font-weight: 700;
}

.index-text1 {
    font-size: 2em;
    color: white;
    font-weight: 700;
}

.index-text2 {
    font-size: 1.4em;
    color: ghostwhite;
    font-weight: 700;
    margin-top: 80px;
}


.custom-back-row {
    min-height: 30vh;
}

.title-news {
    text-align: center;
    margin: 50px;
    color :#e16a43;
}
.titles {
    text-align: center;
    color: #20204D;
    font-weight: 700;
    padding: 30px 0px 30px 0px;
}

.text-tag-card-footer{
    background-color:#e16a43 ;
    color : white;
    font-weight: 500;
    font-size: 17px;
    padding:7px;
    border-radius: 20px;

}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.btn-see-all{
    background-color:#20204D !important;
    color: white !important;
    border-radius:40px !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    padding: 10px 40px 10px 40px !important;
}
.btn-see-all:hover{
    background-color:#e16a43 !important;
}

.img-border{
    border: 8px solid grey;
    border-radius: 40px;
    height: 150px;
    width: 150px;
    margin-bottom: 15px;
    padding: 15px;
    margin-top:30px;
}
.img-border:hover{
    border-color: #e16a43;
}
.hr-style{
    background-color: #20204D;
    height: 2px !important;
    width: 200px;
=======
>>>>>>> fb5ed9f93ef230fd5339e32eae6774ecd2958916
}
.bg-color{
    background-color:#F2F2F2;
    margin-top: 30px;
}

.card{
    min-height: 470px;
}

.card-img-top{
    min-height: 175px;
}

.bg-contact{
    background-image: url("./images/bg4.jpg");
    background-position: right;
    background-size: cover;
}

label {
    font-weight: 500;
}

#button {
    display: inline-block;
    background-color: darkgrey;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#button::after {
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #20204D;
}
#button:hover {
    cursor: pointer;
    background-color: #20204D;
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
    visibility: visible;
}
.footer-style{
    background-color: #20204D;
}
.copyright-style{
    color: white;
    font-weight: 400;
}

.footer-text{
    color: white;
    font-weight: 600;
}

.zoom {
    transition: transform .3s; /* Animation */
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.scroll-down i{
    margin-top: 190px;
    font-size: 50px;
    text-decoration: none;
    color: white;
}
.bounce {
    animation: bounce 2s infinite;

}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }

}




/* index */





