body {
    padding-top: 70px !important;
}

.nav-item-button {
    border: 2px solid white;
    border-radius: 20px;
    background-color: white;
    width: 6em;
    color:  #20204D !important;
    height: 40px;
    text-align: center;
}

#nav-contact:hover{
    border: 2px solid #DF6036;
    background-color: #DF6036 !important;
    color: #FFFFFF !important;
}

.navbar {
    background-color: #20204D;
    padding: 15px !important;

}

.nav-link {
    font-weight: 700;
    margin-left: 10px;
}

.nav-link:hover {
    color: #DF6036 !important;
}

.custom-icons {
    color: white;
    margin-right: 30px;
}

.custom-icon {
    border: 2px solid white;
    border-radius: 30px;
    font-size: 1.1em !important;
    padding: 6px;
    margin-right: 8px;
}

/* index */
.index-image {
    background-image: url("./images/bc2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 92%, 50% 100%, 0 92%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 92%, 50% 100%, 0 92%, 0 0);
}

.index-text {
    font-size: 3em;
    color: white   ;
    font-weight: 700;
}

.index-text1 {
    font-size: 2em;
    color: white;
    font-weight: 700;
}

.index-text2 {
    font-size: 1.4em;
    color: ghostwhite;
    font-weight: 700;
    margin-top: 80px;
}


.custom-back-row {
    min-height: 30vh;
}

.title-news {
    text-align: center;
    margin: 50px;
    color :#e16a43;
}
.titles {
    text-align: center;
    color: #20204D;
    font-weight: 700;
}
/* index */

.innerImage{
    background-size:cover;
    background-position:50%;
    background-repeat:no-repeat;}

.zoom .image img {
    visibility:hidden;}
.zoom .innerImage{
    overflow:hidden;position:relative;
    -webkit-transition:transform 0.4s ease-in-out 0s;
    -moz-transition:transform 0.4s ease-in-out 0s;
    -ms-transition:transform 0.4s ease-in-out 0s;
    -o-transition:transform 0.4s ease-in-out 0s;
    transition:transform 0.4s ease-in-out 0s;
    -webkit-transform:scale(1);-moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
}

.zoom:hover .innerImage{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);}



